.container 
{
  display: block;
  overflow: hidden;
  height: 50px;
  top:0;
  left:0;
  width:100%;
  box-shadow:0px 20px 50px rgb(153, 152, 152) ;
  }
 /*ok*/ 
.nav {
display:flex;
height: 100%;
align-items:center;
padding: 0 1rem;
}


ul{
  list-style-type:none;
  padding:0;
  margin: 0;
 
  
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
 
}

li a:hover {
border-radius: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.space{
  flex:1;
}